.member_entry p {
    margin: 2px;
    text-align: center;
}

p.member_affiliation {
    font-size: .7em;
    font-weight: bold;
}

td.member_entry {
    width: 100px;
    height: 200px;
    padding: 1em !important;
    vertical-align: top;
    text-align: center;
}

td.member_entry a {
    text-decoration: none;
}

td.member_entry img {
    max-width: 120px;
}

table.council {
    margin: 0px auto;
}

/* Team colors */
p.team {
    font-size: .8em;
}
